.post {
    margin: 2rem;
    background-color: orange;
}

.header {
    text-align: center;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    background: lightblue;
}

.comment {
    margin: 2rem;
}
